{% extends 'base.html' %}
{% block content %}

<!-- today's 5 min video -->
<h2>Today's 5 min videos</h2>
<div class="d-flex justify-content-around mt-4">
    <div>
        <h3>Today's Exercise</h3>
        <figure>
            <a href="/exercise">
                <img src="{{ url_for('static', filename='images/today_exercise.png') }}" alt="today's exercise"
                    class="img-fluid" style="height: 180px">
            </a>
        </figure>
    </div>
    <div>
        <h3>Today's Recipe</h3>
        <figure style="height: 180px">
            <a href="/recipe">
                <img src="{{ url_for('static', filename='images/today_cooking.png') }}" alt="today's recipe"
                    class="img-fluid" style="height: 180px">
            </a>
        </figure>
    </div>
</div>
<!-- today's 5 min video -->
<!-- product ranking -->
<section class="ranking mt-5">
    <div class="d-flex justify-content-between">
        <h2>Ranking (healthcare proudcts)</h2>
        <a href="https://ranking.rakuten.co.jp/daily/100987/" class="btn btn-outline-primary" target="_blank">See
            more</a>
    </div>
    <div class="row mt-4">
        <!-- No1 -->
        <div class="col-3 offset-1 shadow-sm rounded" v-for="(ranking, index) in rankings">
            <figure v-if="index == 0" class="mb-2">
                <img src="{{ url_for('static', filename='images/no1.jpg') }}" alt="" class="img-fluid mx-auto d-block"
                    width="80px">
            </figure>
            <figure v-if="index == 1" class="mb-2">
                <img src="{{ url_for('static', filename='images/no2.jpg') }}" alt="" class="img-fluid mx-auto d-block"
                    width="80px">
            </figure>
            <figure v-if="index == 2" class="mb-2">
                <img src="{{ url_for('static', filename='images/no3.jpg') }}" alt="" class="img-fluid mx-auto d-block"
                    width="80px">
            </figure>
            <figure class="text-center">
                <a v-bind:href="ranking['Item']['itemUrl']">
                    <img v-bind:src="ranking['Item']['mediumImageUrls'][0]['imageUrl']"
                        v-bind:alt="ranking['Item']['itemName']" class="img-fluid">
                </a>
            </figure>
            <div class="">
                <p><span class="dui-tag -pr">PR</span>
                    <a v-bind:href="ranking['Item']['itemUrl']" class="d-block text-truncate">[[[
                        ranking['Item']['itemName'] ]]]</a>
                </p>
            </div>
            <div class="text-danger">
                <span class="important">[[[ ranking['Item']['itemPrice'] ]]]<small>円</small></span>
                <span v-if="ranking['Item']['postageFlag'] == 0" class="dui-tag -shipping">送料無料</span>
            </div>
            <div>
                <i class="fas fa-store"></i>
                <a class="text-secondary" v-bind:href="ranking['Item']['shopUrl']" data-track-action="shop">[[[
                    ranking['Item']['shopName'] ]]]</a>
            </div>
        </div>
    </div>
</section>
<!-- product ranking -->

<!-- product categories -->
<!-- healthy food -->
<section class="healty_food mt-5">
    <div class="d-flex justify-content-between">
        <h2>Healthy Food</h2>
        <button type="button" class="btn btn-outline-info"
            @click="refreshCategory('健康食品', 'healthy_foods');">refresh</button>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-2 shadow-sm rounded" v-for="healthy_food in healthy_foods">
            <figure class="text-center" style="height: 125px;">
                <a v-bind:href="healthy_food['Item']['itemUrl']">
                    <img v-bind:src="healthy_food['Item']['mediumImageUrls'][0]['imageUrl']"
                        v-bind:alt="healthy_food['Item']['itemName']" class="img-fluid">
                </a>
            </figure>
            <div class="">
                <a v-bind:href="healthy_food['Item']['itemUrl']" class="d-block text-truncate">[[[
                    healthy_food['Item']['itemName'] ]]]</a>
                </p>
            </div>
            <div class="text-danger">
                <span class="important">[[[ healthy_food['Item']['itemPrice'] ]]]<small>円</small></span>
                <p v-if="healthy_food['Item']['postageFlag'] == 0" class="dui-tag -shipping">送料無料</p>
            </div>
            <div>
                <i class="fas fa-store"></i>
                <a class="text-secondary" v-bind:href="healthy_food['Item']['shopUrl']" data-track-action="shop">[[[
                    healthy_food['Item']['shopName'] ]]]</a>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Exercise equipment -->
<section class="exercise_equipments mt-5">
    <div class="d-flex justify-content-between">
        <h2>Exercise equipment</h2>
        <button type="button" class="btn btn-outline-info"
            @click="refreshCategory('スポーツ・アウトドア', 'exercise_equipments');">refresh</button>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-2 shadow-sm rounded" v-for="exercise_equipment in exercise_equipments">
            <figure class="text-center" style="height: 125px;">
                <a v-bind:href="exercise_equipment['Item']['itemUrl']">
                    <img v-bind:src="exercise_equipment['Item']['mediumImageUrls'][0]['imageUrl']"
                        v-bind:alt="exercise_equipment['Item']['itemName']" class="img-fluid">
                </a>
            </figure>
            <div class="">
                <a v-bind:href="exercise_equipment['Item']['itemUrl']" class="d-block text-truncate">[[[
                    exercise_equipment['Item']['itemName'] ]]]</a>
                </p>
            </div>
            <div class="text-danger">
                <span class="important">[[[ exercise_equipment['Item']['itemPrice'] ]]]<small>円</small></span>
                <p v-if="exercise_equipment['Item']['postageFlag'] == 0" class="dui-tag -shipping">送料無料</p>
            </div>
            <div>
                <i class="fas fa-store"></i>
                <a class="text-secondary" v-bind:href="exercise_equipment['Item']['shopUrl']"
                    data-track-action="shop">[[[
                    exercise_equipment['Item']['shopName'] ]]]</a>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Hygiene products -->
<section class="hygiene_products mt-5">
    <div class="d-flex justify-content-between">
        <h2>Hygiene products</h2>
        <button type="button" class="btn btn-outline-info"
            @click="refreshCategory('医薬品・コンタクト・介護', 'hygiene_products');">refresh</button>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-2 shadow-sm rounded" v-for="hygiene_product in hygiene_products">
            <figure class="text-center" style="height: 125px;">
                <a v-bind:href="hygiene_product['Item']['itemUrl']">
                    <img v-bind:src="hygiene_product['Item']['mediumImageUrls'][0]['imageUrl']"
                        v-bind:alt="hygiene_product['Item']['itemName']" class="img-fluid">
                </a>
            </figure>
            <div class="">
                <a v-bind:href="hygiene_product['Item']['itemUrl']" class="d-block text-truncate">[[[
                    hygiene_product['Item']['itemName'] ]]]</a>
                </p>
            </div>
            <div class="text-danger">
                <span class="important">[[[ hygiene_product['Item']['itemPrice'] ]]]<small>円</small></span>
                <p v-if="hygiene_product['Item']['postageFlag'] == 0" class="dui-tag -shipping">送料無料</p>
            </div>
            <div>
                <i class="fas fa-store"></i>
                <a class="text-secondary" v-bind:href="hygiene_product['Item']['shopUrl']" data-track-action="shop">[[[
                    hygiene_product['Item']['shopName'] ]]]</a>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Daily goods -->
<section class="daily_goods mt-5">
    <div class="d-flex justify-content-between">
        <h2>Daily goods</h2>
        <button type="button" class="btn btn-outline-info"
            @click="refreshCategory('日用品雑貨・文房具・手芸', 'daily_goods');">refresh</button>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-2 shadow-sm rounded" v-for="daily_good in daily_goods">
            <figure class="text-center" style="height: 125px;">
                <a v-bind:href="daily_good['Item']['itemUrl']">
                    <img v-bind:src="daily_good['Item']['mediumImageUrls'][0]['imageUrl']"
                        v-bind:alt="daily_good['Item']['itemName']" class="img-fluid">
                </a>
            </figure>
            <div class="">
                <a v-bind:href="daily_good['Item']['itemUrl']" class="d-block text-truncate">[[[
                    daily_good['Item']['itemName'] ]]]</a>
                </p>
            </div>
            <div class="text-danger">
                <span class="important">[[[ daily_good['Item']['itemPrice'] ]]]<small>円</small></span>
                <p v-if="daily_good['Item']['postageFlag'] == 0" class="dui-tag -shipping">送料無料</p>
            </div>
            <div>
                <i class="fas fa-store"></i>
                <a class="text-secondary" v-bind:href="daily_good['Item']['shopUrl']" data-track-action="shop">[[[
                    daily_good['Item']['shopName'] ]]]</a>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Books -->
<section class="books mt-5">
    <div class="d-flex justify-content-between">
        <h2>Books</h2>
        <button type="button" class="btn btn-outline-info"
            @click="refreshCategory('本・雑誌・コミック', 'books');">refresh</button>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-2 shadow-sm rounded" v-for="book in books">
            <figure class="text-center" style="height: 125px;">
                <a v-bind:href="book['Item']['itemUrl']">
                    <img v-bind:src="book['Item']['mediumImageUrls'][0]['imageUrl']"
                        v-bind:alt="book['Item']['itemName']" class="img-fluid">
                </a>
            </figure>
            <div class="">
                <a v-bind:href="book['Item']['itemUrl']" class="d-block text-truncate">[[[
                    book['Item']['itemName'] ]]]</a>
                </p>
            </div>
            <div class="text-danger">
                <span class="important">[[[ book['Item']['itemPrice'] ]]]<small>円</small></span>
                <p v-if="book['Item']['postageFlag'] == 0" class="dui-tag -shipping">送料無料</p>
            </div>
            <div>
                <i class="fas fa-store"></i>
                <a class="text-secondary" v-bind:href="book['Item']['shopUrl']" data-track-action="shop">[[[
                    book['Item']['shopName'] ]]]</a>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script>
    new Vue({
        delimiters: ["[[[", "]]]"],
        el: "#app",
        data: {
            rankings: [],
            healthy_foods: [],
            exercise_equipments: [],
            hygiene_products: [],
            daily_goods: [],
            books: []
        },
        methods: {
            getRanking() {
                var self = this;
                axios
                    .get('/api/ranking?genreId=100987&hits=3')
                    .then(function (res) {
                        self.rankings = res.data;
                    });
            },
            getCategory(category, name) {
                var self = this;
                axios
                    .get('/api/category?category=' + category + '&hits=6')
                    .then(function (res) {
                        if (name == 'healthy_foods') {
                            self.healthy_foods = res.data;
                        } else if (name == 'exercise_equipments') {
                            self.exercise_equipments = res.data;
                        } else if (name == 'hygiene_products') {
                            self.hygiene_products = res.data;
                        } else if (name == 'daily_goods') {
                            self.daily_goods = res.data;
                        } else if (name == 'books') {
                            self.books = res.data;
                        }
                    });
            },
            refreshCategory(category, name) {
                var self = this;
                axios
                    .get('/api/category/refresh?category=' + category + '&hits=6')
                    .then(function (res) {
                        if (name == 'healthy_foods') {
                            console.log(res.data);
                            self.healthy_foods = res.data;
                        } else if (name == 'exercise_equipments') {
                            self.exercise_equipments = res.data;
                        } else if (name == 'hygiene_products') {
                            self.hygiene_products = res.data;
                        } else if (name == 'daily_goods') {
                            self.daily_goods = res.data;
                        } else if (name == 'books') {
                            self.books = res.data;
                        }
                    });
            }

        },
        mounted() {
            this.getRanking();
            this.getCategory('健康食品', 'healthy_foods');
            this.getCategory('スポーツ・アウトドア', 'exercise_equipments');
            this.getCategory('医薬品・コンタクト・介護', 'hygiene_products');
            this.getCategory('日用品雑貨・文房具・手芸', 'daily_goods');
            this.getCategory('本・雑誌・コミック', 'books');
        }
    })
</script>
{% endblock %}