{% extends 'base.html' %}
{% block content %}

<!-- <body class="container"> -->
<h2>Healthcare</h2>
<!-- today's 5 min video -->
<div class="d-flex justify-content-around mt-4">
    <div>
        <h3>Today's Exercise</h3>
        <figure>
            <a href="/exercise">
                <img src="{{ url_for('static', filename='images/today_exercise.png') }}" alt="today's exercise"
                    class="img-fluid" style="height: 180px">
            </a>
        </figure>
    </div>
    <div>
        <h3>Today's Recipe</h3>
        <figure style="height: 180px">
            <a href="/recipe">
                <img src="{{ url_for('static', filename='images/today_cooking.png') }}" alt="today's recipe"
                    class="img-fluid" style="height: 180px">
            </a>
        </figure>
    </div>
</div>
<!-- today's 5 min video -->
<!-- product ranking -->
<section class="ranking mt-5">
    <div class="d-flex justify-content-between">
        <h2>Ranking (healthcare proudcts)</h2>
        <a href="https://ranking.rakuten.co.jp/daily/100938/" class="btn btn-outline-primary">See more</a>
    </div>
    <div class="row mt-4">
        <!-- No1 -->
        <div class="col-3 offset-1 shadow-sm rounded" v-for="(ranking, index) in rankings">
            <figure>
                <img v-bind:src="'/static/images/no1.jpg'" alt="" class="img-fluid mx-auto d-block" width="80px">
            </figure>
            <figure>
                <a v-bind:href="ranking['Item']['itemUrl']">
                    <img v-bind:src="ranking['Item']['mediumImageUrls'][0]['imageUrl']"
                        v-bind:alt="ranking['Item']['itemName']" class="img-fluid">
                </a>
            </figure>
            <div class="">
                <p><span class="dui-tag -pr">PR</span>
                    <a v-bind:href="ranking['Item']['itemUrl']" class="d-block text-truncate">[[[
                        ranking['Item']['itemName'] ]]]</a>
                </p>
            </div>
            <div class="text-danger">
                <span class="important">[[[ ranking['Item']['itemPrice'] ]]]<small>円</small></span>
                <span v-if="ranking['Item']['postageFlag'] == 0" class="dui-tag -shipping">送料無料</span>
            </div>
            <div>
                <i class="fas fa-store"></i>
                <a class="text-secondary" v-bind:href="ranking['Item']['shopUrl']" data-track-action="shop">[[[
                    ranking['Item']['shopName'] ]]]</a>
            </div>
        </div>
    </div>
</section>
<!-- product ranking -->

<!-- product categories -->
<!-- healthy food -->
<section class="healty_food mt-5">
    <div class="d-flex justify-content-between">
        <h2>Healthy Food</h2>
        <button type="button" class="btn btn-outline-info">refresh</button>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-2 shadow-sm rounded" v-for="healthy_food in healthy_foods['Items']">
            <figure>
                <a v-bind:href="healthy_food['Item']['itemUrl']">
                    <img v-bind:src="healthy_food['Item']['mediumImageUrls'][0]['imageUrl']"
                        v-bind:alt="healthy_food['Item']['itemName']" class="img-fluid">
                </a>
            </figure>
            <div class="">
                <a v-bind:href="healthy_food['Item']['itemUrl']" class="d-block text-truncate">[[[
                    healthy_food['Item']['itemName'] ]]]</a>
                </p>
            </div>
            <div class="text-danger">
                <span class="important">[[[ healthy_food['Item']['itemPrice'] ]]]<small>円</small></span>
                <p v-if="healthy_food['Item']['postageFlag'] == 0" class="dui-tag -shipping">送料無料</p>
            </div>
            <div>
                <i class="fas fa-store"></i>
                <a class="text-secondary" v-bind:href="healthy_food['Item']['shopUrl']" data-track-action="shop">[[[
                    healthy_food['Item']['shopName'] ]]]</a>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- healthy food -->
<section class="healty_food mt-5">
    <div class="d-flex justify-content-between">
        <h2>Healthy Food</h2>
        <button type="button" class="btn btn-outline-info">refresh</button>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-2 shadow-sm rounded" v-for="healthy_food in healthy_foods['Items']">
            <figure>
                <a v-bind:href="healthy_food['Item']['itemUrl']">
                    <img v-bind:src="healthy_food['Item']['mediumImageUrls'][0]['imageUrl']"
                        v-bind:alt="healthy_food['Item']['itemName']" class="img-fluid">
                </a>
            </figure>
            <div class="">
                <a v-bind:href="healthy_food['Item']['itemUrl']" class="d-block text-truncate">[[[
                    healthy_food['Item']['itemName'] ]]]</a>
                </p>
            </div>
            <div class="text-danger">
                <span class="important">[[[ healthy_food['Item']['itemPrice'] ]]]<small>円</small></span>
                <p v-if="healthy_food['Item']['postageFlag'] == 0" class="dui-tag -shipping">送料無料</p>
            </div>
            <div>
                <i class="fas fa-store"></i>
                <a class="text-secondary" v-bind:href="healthy_food['Item']['shopUrl']" data-track-action="shop">[[[
                    healthy_food['Item']['shopName'] ]]]</a>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script>
    new Vue({
        delimiters: ["[[[", "]]]"],
        el: "#app",
        data: {
            rankings: [],
            healthy_foods: [],
        },
        methods: {
            getRanking() {
                var self = this;
                axios
                    .get('/api/ranking?genreId=100987&hits=3')
                    .then(function (res) {
                        self.rankings = res.data;
                    });
            },
            getCategory(category, name) {
                var self = this;
                axios
                    .get('/api/category?category=' + category + '&hits=6')
                    .then(function (res) {
                        if (name == 'healthy_food') {
                            self.healthy_foods = res.data;
                        }
                    });
            }

        },
        mounted() {
            this.getRanking();
            this.getCategory('健康', 'healthy_food');
        }
    })
</script>
{% endblock %}