<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Healthcare</title>
    <link rel="icon" href="{{ url_for('static', filename='rakuten.jpg') }}">
    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}
</head>


<body class="container">
    <h2>Healthcare</h2>
    <div class="d-flex justify-content-around">
        <div>
            <h3>Today's Exercise</h3>
            <figure>
                <a href="/today/exercise">
                    <img src="{{ url_for('static', filename='images/today_exercise.png') }}" alt="today's exercise" class="img-fluid"  style="height: 180px">
                </a>
            </figure>
        </div>
        <div>
            <h3>Today's Cooking</h3>
            <figure style="height: 180px">
                <a href="/today/cooking">
                    <img src="{{ url_for('static', filename='images/today_cooking.png') }}" alt="today's cooking" class="img-fluid"  style="height: 180px">
                </a>
            </figure>
        </div>
    </div>
    <footer>
        <small>&copy; 2020 Team Outdoor</a></small>
    </footer>

    {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
    {% endblock %}
</body>

</html>