{% extends 'base.html' %}

{% block content %}
<!-- Video -->
<section class="video_part mt-4">
    <div class="d-flex text-left">
        <h4>{{ videos[0].video_title }}</h4>
    </div>
    <div class="d-flex justify-content-around mt-4">
        <!-- Left side -->
        <div class="col-7">
            <iframe width="640" height="360" src="{{ videos[0].Youtube_link }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
        <!-- Right side -->
        <div class="col-5 p-0">
            {% for video in videos[1:] %}
            <div class="d-flex justify-content-around mt-0">
                <div class="mt-2">
                    <iframe width="150" height="90" src="{{ video.Youtube_link }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe> 
                </div>
                <div>
                    <abbr style="font-size:9px"><abbr class="font-italic font-weight-bold">Date:</abbr> {{ video.uploaded_at }}
                    <!-- <p style="font-size:9px inline-height:0px" class="mb-0"><abbr class="font-italic">Date: </abbr>{{ video.uploaded_at }}</p>   -->
                    <p style="font-size:10px" class="m-0"><abbr class="font-italic font-weight-bold">Title: </abbr>{{ video.video_title }}</p> 
                    <p style="font-size:10px;" class="m-0"><abbr class="font-italic font-weight-bold">Description: </abbr>{{ video.explain_text }} </p>
                    </abbr>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Recommendation -->
<section class="recommendation mt-4">
    <div class="d-flex justify-content-between">
        <h3>Recommendation</h3>
    </div>
    <div class="row mt-3">
        <div class="col-2">
            <figure>
                <a href="{{ video_items[0].item_url_1 }}">
                    <img src="{{ video_items[0].item_image_1 }}" class="img-fluid">
                </a>
            </figure>
            <div>
                <p>
                    <a href="{{ video_items[0].item_url_1 }}" class="d-block text-truncate">{{ video_items[0].item_name_1 }}</a>
                </p>
            </div>
            <div class="text-danger">
                <span class="important text-left">{{ video_items[0].item_price_1 }}<small>円</small></span>
            </div>
        </div>
        <div class="col-2">
            <figure>
                <a href="{{ video_items[0].item_url_2 }}">
                    <img src="{{ video_items[0].item_image_2 }}" class="img-fluid">
                </a>
            </figure>
            <div>
                <p>
                    <a href="{{ video_items[0].item_url_2 }}" class="d-block text-truncate">{{ video_items[0].item_name_2 }}</a>
                </p>
            </div>
            <div class="text-danger">
                <span class="important text-left">{{ video_items[0].item_price_2 }}<small>円</small></span>
            </div>
        </div>
        <div class="col-2">
            <figure>
                <a href="{{ video_items[0].item_url_3 }}">
                    <img src="{{ video_items[0].item_image_3 }}" class="img-fluid">
                </a>
            </figure>
            <div>
                <p>
                    <a href="{{ video_items[0].item_url_3 }}" class="d-block text-truncate">{{ video_items[0].item_name_3 }}</a>
                </p>
            </div>
            <div class="text-danger">
                <span class="important text-left">{{ video_items[0].item_price_3 }}<small>円</small></span>
            </div>
        </div>
        <div class="col-2">
            <figure>
                <a href="{{ video_items[0].item_url_4 }}">
                    <img src="{{ video_items[0].item_image_4 }}" class="img-fluid">
                </a>
            </figure>
            <div>
                <p>
                    <a href="{{ video_items[0].item_url_4 }}" class="d-block text-truncate">{{ video_items[0].item_name_4 }}</a>
                </p>
            </div>
            <div class="text-danger">
                <span class="important text-left">{{ video_items[0].item_price_4 }}<small>円</small></span>
            </div>
        </div>
        <div class="col-2">
            <figure>
                <a href="{{ video_items[0].item_url_5 }}">
                    <img src="{{ video_items[0].item_image_5 }}" class="img-fluid">
                </a>
            </figure>
            <div>
                <p>
                    <a href="{{ video_items[0].item_url_5 }}" class="d-block text-truncate">{{ video_items[0].item_name_5 }}</a>
                </p>
            </div>
            <div class="text-danger">
                <span class="important text-left">{{ video_items[0].item_price_5 }}<small>円</small></span>
            </div>
        </div>
    </div>
</section>
{% block content2 %}{% endblock %}  


{% endblock %}  